<mat-card class="my-3 shadow-none! dark:bg-gray-600!">
  <mat-card-content>



    <form>

      <div class="flex items-center px-3 py-2 rounded-base ">

        <textarea id="chat" rows="1" [formControl]="commentInput" class=" bg-neutral-primary-medium border dark:bg-gray-800 dark:border-gray-600 dark:text-gray-100
          dark:placeholder-gray-400
          border-default-medium text-heading text-sm rounded-base  block w-full px-3 py-2.5 placeholder:text-body"
          placeholder="Your comment..."></textarea>
        <button type="button" (click)="sendComment()"
          class="inline-flex justify-center p-2 text-fg-brand rounded-full cursor-pointer hover:bg-brand-softer">
          <svg class="w-8 h-8 rotate-90 rtl:-rotate-90" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
            height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m12 18-7 3 7-18 7 18-7-3Zm0 0v-5" />
          </svg>
          <span class="sr-only">Send Comment</span>
        </button>
      </div>
    </form>

  </mat-card-content>
</mat-card>
