<div class=" px-2 lg:p-15 sm:px-4 my-5">
  <form action="" [formGroup]="changePasswordForm" (ngSubmit)="updatePassword()" class="lg:w-3/4 w-full mx-auto ">
    <mat-card class="py-12 lg:px-4 sm:px-1  bg-gray-50  dark:text-white dark:bg-gray-800!">
      <mat-card-title>
        <h2 class="text-center py-8 text-indigo lg:text-3xl lg:font-bold sm:font-semibold sm:xl">Change Password</h2>
      </mat-card-title>
      <mat-card-content>
        <app-input-form [type]="'password'" [idInput]="'password'" formControlName="password"
          [control]="changePasswordForm.get('password')" [placeholder]="'Please enter your current password..'"
          [label]="'CurrentPassword'"></app-input-form>
        <app-input-form [type]="'password'" [idInput]="'newPassword'" formControlName="newPassword"
          [control]="changePasswordForm.get('newPassword')" [placeholder]="'Please enter New password..'"
          [label]="'NewPassword'"></app-input-form>
        @if (successMessage) {
        <div class="p-4 mb-4 text-sm text-fg-success-strong rounded-base bg-success-soft my-4" role="alert">
          <span class="font-medium">{{successMessage }}!</span>.
        </div>

        }
        @if (errorMessage) {
        <div class="p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft" role="alert">
          <span class="font-medium sm:text-xl lg:text-2xl">{{errorMessage}}!</span>
          submitting again.
        </div>
        }
        <div class="my-3">
          <button matButton="filled" class="w-full" [disabled]="isLoading()">SignUp
            @if (isLoading()) {

            <i class="fas fa-spinner fa-spin"></i>
            }
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>