<mat-card>
  <mat-card-header class="border-b border-b-gray">
    <div class="flex justify-between items-center py-2 w-full">
      <div class="flex items-center gap-3">

        <div class="w-9 h-9 rounded-full bg-blue-100 flex items-center justify-center">
          <i class="fa-solid fa-people-line text-blue-700 text-base"></i>
        </div>

        <h3 class="text-blue-950 font-semibold text-xl">People Who Reacted</h3>
      </div>
      <button (click)="closeDialog()">
        <i class="fa-solid fa-xmark cursor-pointer text-gray-500"></i>
      </button>
    </div>
  </mat-card-header>
  @if (allLikes().length>0) {
  @for (like of allLikes(); track like._id) {
  <mat-card-content class="my-3">
    <div class="flex items-center gap-3 py-3 border border-gray-300 rounded-3xl">
      <img [src]="like.photo" [alt]="like.name" class="w-10 h-10 rounded-full object-cover">
      <div>
        <h5 class="font-medium text-sm">{{like.name}}</h5>
        <span class="text-xs text-gray-500">@{{like.username}}</span>
      </div>
    </div>
  </mat-card-content>
  }
  }
  @else {
  <mat-card-content class="my-3">
    <div class=" py-2 border border-gray-300 rounded-3xl">
      <h2 class="text-gray-400 text-center py-6">No likes yet.</h2>
    </div>
  </mat-card-content>
  }
</mat-card>